<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>

    <h1>Edit <%= restaurant.name %> </h1>




   <form action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
        <p>
          <input type="text" name="name" placeholder="Name" value="<%= restaurant.name %>"/>
          Location: <input type="text" name="location" placeholder="Location" value="<%= restaurant.location %>"/><br>
          Does this restaurant deliver?: <input type="checkbox" name="delivery" /><br>
          Does this restaurant do takeout?: <input type="checkbox" name="takeOut" /><br>
          Does this restaurant have dine in option?: <input type="checkbox" name="dineIn" /><br>
        </p>

        <input type="submit" value="Update Restaurant Name "/>
      </form> 
      <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
        </form>

</body>
</html> 