<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="/scripts/app.js"></script>
    <title>Restaurant</title>
</head>
<body>
    <section class="hero is-primary is-medium">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a href="/" class="navbar-item">
                  <img src="https://uploads-ssl.webflow.com/5be7bc39ea60003da6a932e0/5be8c37ac9fc1ff7e3038120_kelp%20logo.png" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item is-active" href="/restaurants">
                    All Restaurants
                  </a>
                  <a class="navbar-item" href="/">Home
                  </a>
                  <a class="navbar-item" href="/restaurants/new">Add a Restaurant
                 
                  </a>

            
                  
                </div>
              </div>
            </div>
          </nav>
        </div>
        </section>
    
    <h1><%= restaurant.name %></h1> 
    <a class="waves-effect waves-light btn" href="/restaurants/<%= restaurant._id %>/edit">Edit Restaurant</a>
    <div class="input-field inline col s6">

    <div class="write-review-btn">  <a class="waves-effect waves-light btn" href="/restaurants/<%= restaurant._id %>/newreview">Write a Review</a></div>
  </div>
    <br>
    <img id="restaurant-image"src="<%= restaurant.image %>">
    <br>
   

    <h3><%= restaurant.location %></h3>
    <h4><%= restaurant.address %> </h4>
  

    <% if(!restaurant.businessHours){ %>
     <p>Business Hours Unavailable</p>
    <% } else { %>
    <p>Business Hours: <%= restaurant.businessHours %></p>
    <% } %>
     
    

<% if(restaurant.delivery == true){ %>
  <a class="waves-effect waves-light btn pulse"><i class="material-icons">Delivery Available</i></a>
<% } %>

<% if(restaurant.takeOut == true){ %>
  <a class="waves-effect waves-light btn pulse"><i class="material-icons">Take Out Available</i></a>
<% } %>

<% if(restaurant.dineIn == true){ %>
  <a class="waves-effect waves-light btn pulse"><i class="material-icons">Dine In Options</i></a>

<% } %>

    
   
  
  
    <div class="row">
    <div class="review-grid col 12">
   
        <h2>Reviews</h2>
        <p>
          <span class="flow-text">
        <ul class="review-loop">
            <% restaurant.review.forEach(review => { %>
              <strong>
            <li class="ind-review-loop"><%= review.author %> 
            <% if(review.recommend == true) { %>
                recommends <%= restaurant.name %> 
            <% } else { %>
                does not recommend <%= restaurant.name %>
            <% } %>
        </li>
      </strong></br>
    </span>
            <p id="review-review"><%= review.review %></p>
        <% }) %> 
        </ul>
      </p>
   
  </div>
  </div>
</body>
</html>


<!-- Title, Whole review, button -->