<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>
<body>
    <a href="/restaurants">Back</a>
    <h1><%= restaurant.name %></h1> 
    <h3>
        <img src=<%= restaurant.image %>></h3>
    <h3><%= restaurant.location %></h3>
    <h4><%= restaurant.address %> </h4>
  
    <p>Business Hours: <%= restaurant.businessHours %></p>


    <a href="/restaurants/<%= restaurant._id %>/newreview">Write a Review</a>
    <a href="/restaurants/<%= restaurant._id %>/edit">Edit</a>

    
    <section>
        <h2>Reviews</h2>
        <ul>
            <% restaurant.review.forEach(review => { %>
            <li><%= review.author %> </li>
            <p><%= review.review %></p>
        <% }) %> 
        </ul>
    </section>

</body>
</html>


<!-- Title, Whole review, button -->